*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.menu{
    display: none;
}

.bg-gray{
    background-color: #EEEFF1;
}
.bg-blue{
    background-color:  #34547A;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}
.navbar img{
    width: 96px;
}
.navbar-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 611px;
}
.navbar-list a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    
    color: #000000;
}
.navbar-list a:hover{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #34547A;
    transition: all .3s;  
}
/*main*/
.main-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0;
}
.main-block img{
    width: 350px;
}
.main-text{
    width: 540px;
}
.main-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    
    color: #000000;
}
.main-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 60px 0;
}
.btn{
    background-color: #34547A;
    border: 1px solid #34547A;
    color: #FFFFFF;
    padding: 15px 30px;
}
.btn:hover{
    background-color: transparent;
    color: #34547A;
    transition: all .3s;
    cursor: pointer;
}
/*text-block*/
.text-block{
    text-align: center;
    width: 540px;
    margin: auto;
    padding-top: 119px;
    padding-bottom: 100px;
}
.text-title{
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}
.text-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
/*projects*/
.projects{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.projects-item{
    display: flex;
    align-items: center;
}
.projects-item__inner{
    margin-left: 10px;
}

.projects-item img{
    width: 46px;
}
.projects-item__inner span{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;    
}
.projects-item__inner p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.skills img{
    width: 550px;
}
.skills-item{
    width: 450px;
}
.skills-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 50px;
}
.skills-progress{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.skills-progress label{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;    
    margin-bottom: 10px;
}
.skills-progress progress{
    width: 100%;
    background-color: #727272;
    height: 4px;
}
progress::-webkit-progress-bar {
    background-color:#C4C4C4;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #34547A;
    border-radius: 7px;
  }
.video{
    padding: 70px 0;
}
.video .text-block{
    margin-top: 0;
}
.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.images-item{
    height: 100%;
    position: relative;
}
.images-item img{
    width: 100%;
    height: 100%;
}
.images-item:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0571f469;
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    cursor: pointer;
}


.micro{
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}
.micro img{
    width: 255px;
}
.form{
    width: 540px;
    margin: auto;
    padding: 60px 0 ;
}
.form-block{
    display: flex;
    flex-direction: column;
}
.form-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-input input{
    width: 48%;
    border: none;
    padding: 17px 20px;
    font-size: 20px;
}
.form-block textarea{
    border: none;
    padding: 17px 20px;
    font-size: 20px;
    margin-bottom: 50px;
}
.form .btn{
    width: 200px;
    margin: auto;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.footer-item p{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer-item span{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    
    color: #FFFFFF;
}
.footer-social{
    width: 175px;
    display: flex;
    justify-content: space-between;
}
.footer-social img{
    width: 43px;
    height: auto;
}
.footer-social a{
    transform: scale(1);
    transition: 0.3s;
}
.footer-social a:hover{
    transform: scale(1.2);
    transition: 0.3s;
}


/*
media
*/
@media (max-width: 1100px){
    .projects{
        padding: 50px 30px;
    }
    .skills{
        padding: 0 15px;
    }
}

@media (max-width: 768px){
    .main-block{
        flex-direction: column;
    }
    .projects{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .projects-item{
        margin-bottom: 15px;
    }
    .skills{
        flex-direction: column;
    }
}

@media (max-width: 600px){
    .navbar-list{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media (max-width: 1700px){
    .video{
        padding: 0 30px;
    }
}
@media (max-width: 1600px){
    .micro{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1700px){
    .footer-social {
        flex-direction: column;
    }
    .footer-social img{
        padding-bottom: 10px;
    }
}
@media (max-width: 1500px){
    .form-input{
        flex-direction: column;
        align-items: center;
    }   
    .form-input input{
        margin-bottom: 10px;
        width: 200px;
    }
}
@media (max-width: 500px){
   .text-block{
    width: 200px;
    margin: auto;
   }
   .main-text{
    width: 200px;
   }
   .main-block img{
    width: 200px;
   }
   .skills-item{
    width: 200px;
   }
   .main-block img {
    width: 150px;
   }
   .main-title{
    width: 100px;
   }
   .skills img{
    width: 200px;
   }
   .micro-item img{
    width: 200px;
   }
   .form-block{
    padding-right: 40px;
    width: 200px;
   }
  
}
